html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  height: 100%;
}

.slide {
  flex: 1;
  position: relative;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.radio-btn {
  position: absolute;
  top: 10%;
  left: 27px; /* Adjust the left position as needed */
  transform: translateY(-50%);
  width: 20px;
  height: 20px;

  position: absolute;

  color: #fff;
}

.overlay {
  position: absolute;
  top: 53%;
  left: 62%;
  transform: translate(-50%, -50%);
}

.overlay2 {
  position: absolute;
  top: 75%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.overlay img {
  max-width: 170px; /* Adjust logo size as needed */
}
.logo-dehing {
  font-size: 80px;
  font-weight: 600px;
  /* line-height: 82.96px; */
  color: white;
}
.overlay h2 {
  color: #fff;
  font-size: 24px;
}
.Rectangle {
  position: absolute;
  /* background-color: #c91111; */
  top: 90%;
  left: 15%;
  color: #fff;
}
.icon-top {
  display: flex;
}
.Rectangle h1 {
  size: 10px;
  font-size: 11px;
}
